{% extends 'layouts/app.twig' %}
{% block title %}Catalog{% endblock %}
{% block description %}Summit Electric can supply you with a large variety of products. View our full 2017 catalog for details.{% endblock %}

{% block content %}

<section class="page-head">
    <div class="page-head__container container container--full">
        <div class="page-head__content">
            <h1>Catalog</h1>
            <p>Our New Catalog</p>
        </div>
    </div>

    <div class="breadcrumbs-container container container--full">
        <ul class="breadcrumbs">
            <li><a href="{{ path_for('home') }}">Summit Electric Products Ltd</a></li>
            <li>Catalog</li>
        </ul>
    </div>
</section>

<section class="catalog">
    <div class="content-container">
        <div class="catalog__container">
            <div class="catalog-header">
                <img src="assets/img/Summit-Catalog-2017-NP.jpg" alt="Summit Catalog February 2017" draggable="false">
                <h2>Summit Electric Products Ltd</h2>
                <h3>Standard Product Catalog</h3>
                <a href="resources/content/pdfs/Summit-Catalog-2017-NP.pdf" target="_blank">View Full Catalog</a>
            </div>

        <div class="catalogue-items container container--full">
            <div class="column-4">
                <h4>Beam Clamps</h4>
                <a href="resources/content/pdfs/Beam-Clamps.pdf" target="_blank">
                    <img src="assets/img/c1.jpg" alt="Beam Clamps" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Bends, Nipples &amp; Couplings</h4>
                <a href="resources/content/pdfs/Conduit-Fittings.pdf" target="_blank">
                    <img src="assets/img/c3.jpg" alt="Bends, Nipples &amp; Couplings" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Control Switches</h4>
                <a href="resources/content/pdfs/Control-Switches.pdf" target="_blank">
                    <img src="assets/img/Control-Switches.jpg" alt="Control Switches" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>EMT Fittings</h4>
                <a href="resources/content/pdfs/EMT-Fittings.pdf" target="_blank">
                    <img src="assets/img/c4.jpg" alt="EMT Fittings" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Explosion Proof Fittings</h4>
                <a href="resources/content/pdfs/Explosion-Proof.pdf" target="_blank">
                    <img src="assets/img/explosion-proof.jpg" alt="Explosion Proof Fittings" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Flexible Conduit &amp; Connectors</h4>
                <a href="resources/content/pdfs/Flex-conns.pdf" target="_blank">
                    <img src="assets/img/Flex-conns.jpg" alt="Flexible Conduit &amp; Connectors" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Foot Switches</h4>
                <a href="resources/content/pdfs/Foot-Switches.pdf" target="_blank">
                    <img src="assets/img/c7.jpg" alt="Foot Switches" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Fuse Holders</h4>
                <a href="resources/content/pdfs/cpd8.pdf" target="_blank">
                    <img src="assets/img/c8.jpg" alt="Fuse Holders" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Groundings &amp; Insulators</h4>
                <a href="resources/content/pdfs/Grounding-Insulators.pdf" target="_blank">
                    <img src="assets/img/Grounding-Insulators.jpg" alt="Groundings &amp; Insulators" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Heat Shrink Products</h4>
                <a href="resources/content/pdfs/Heat-Shrink-Products.pdf" target="_blank">
                    <img src="assets/img/c10.jpg" alt="Heat Shrink Products" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Dock Lighting Products</h4>
                <a href="resources/content/pdfs/Dock-Lights.pdf" target="_blank">
                    <img src="assets/img/c11.jpg" alt="Dock Lighting Products" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Sealtite Connectors</h4>
                <a href="resources/content/pdfs/sealtite-conns.pdf" target="_blank">
                    <img src="assets/img/c12.jpg" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Power Distribution Blocks</h4>
                <a href="resources/content/pdfs/power-blocks.pdf" target="_blank">
                    <img src="assets/img/c14.jpg" alt="Power Distribution Blocks" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Personal Heating Products</h4>
                <a href="resources/content/pdfs/COZY-Heaters.pdf" target="_blank">
                    <img src="assets/img/COZY-heaters.jpg" alt="Personal Heating Products" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Retractile Cords</h4>
                <a href="resources/content/pdfs/Retractile-Cords.pdf" target="_blank">
                    <img src="assets/img/c17.jpg" alt="Retractile Cords" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Rigid Fittings</h4>
                <a href="resources/content/pdfs/Rigid-Fittings.pdf" target="_blank">
                    <img src="assets/img/c18.jpg" alt="Rigid Fittings" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Specialty Switches</h4>
                <a href="resources/content/pdfs/Toggle-Switches.pdf" target="_blank">
                    <img src="assets/img/c19.jpg" alt="Specialty Switches" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Stainless Steel Fittings</h4>
                <a href="resources/content/pdfs/Stainless-Steel.pdf" target="_blank">
                    <img src="assets/img/c20.jpg" alt="Stainless Steel Fittings" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Strain Relief Connectors</h4>
                <a href="resources/content/pdfs/Strain-Reliefs.pdf" target="_blank">
                    <img src="assets/img/strain-reliefs.jpg" alt="Strain Relief Connectors" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Strut Fittings</h4>
                <a href="resources/content/pdfs/Strut-Fittings.pdf" target="_blank">
                    <img src="assets/img/c22.jpg" alt="Strut Fittings" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Tapes</h4>
                <a href="resources/content/pdfs/Tape.pdf" target="_blank">
                    <img src="assets/img/c23.jpg" alt="Tapes" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Terminal Blocks</h4>
                <a href="resources/content/pdfs/terminal-blocks.pdf" target="_blank">
                    <img src="assets/img/c24.jpg" alt="Terminal Blocks" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Termination Lugs &amp; Sleeves</h4>
                <a href="resources/content/pdfs/LUGS.pdf" target="_blank">
                    <img src="assets/img/lugs.jpg" alt="Termination Lugs &amp; Sleeves" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Thread Adapters</h4>
                <a href="resources/content/pdfs/Thread-Adapters.pdf" target="_blank">
                    <img src="assets/img/Thread-Adapters.jpg" alt="Thread Adapters" draggable="false">
                </a>
            </div>
            <div class="column-4">
                <h4>Wire Mesh Grips</h4>
                <a href="resources/content/pdfs/Wire-Mesh-Grips.pdf" target="_blank">
                    <img src="assets/img/c26.jpg" alt="Wire Mesh Grips" draggable="false">
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}