{% extends 'layouts/app.twig' %}
{% block title %}Sales Reps{% endblock %}
{% block description %}Welcome to Summit Electric Products Ltd. Our customers' satisfaction is priority one. We specialize in supplying the electrical industry through distribution across Canada. We're know for our commitment to Same Day Shipping, holding Minimum Order of Only $10 and No Minimum Quantities.{% endblock %}

{% block content %}

<section class="page-head">
    <div class="page-head__container container container--full">
        <div class="page-head__content">
            <h1>Sales Reps</h1>
            <p>Contact one of our regional sales reps</p>
        </div>
    </div>

    <div class="breadcrumbs-container container container--full">
        <ul class="breadcrumbs">
            <li><a href="{{ path_for('home') }}">Summit Electric Products Ltd</a></li>
            <li>Sales Reps</li>
        </ul>
    </div>
</section>

<section class="sales-reps">
    <div class="content-container">
        <div class="sales-reps__container container">
            <div class="rep column-6">
                <h2>Ontario</h2>
                <h3>Humelec Associates Ltd.</h3>
                <a href="http://www.humelec.ca/" target="_blank">Visit Website</a>
                <p>755 The Queensway East, Unit 25 <br/>Mississauga, Ontario L4Y 4C5<br/>
                Phone: 1-905-276-3301 | Fax: 1-905-276-7013<br/>
                <strong>Contact: Blake Thompson</strong><br/>
                Email: bthompson@humelec.ca<br/>
                <strong>Contact: Romulo Yalung</strong><br/>
                Email: ryalung@humelec.ca</p>
            </div>
            <div class="rep column-6">
                <h2>Quebec</h2>
                <h3>PROMELLIS Inc.</h3>
                <a href="http://promellis.com/" target="_blank">Visit Website</a>
                <p>99 Emilien-Marcoux Suite#104 Blainville, Quebec J7C 0B4<br/>
                Fax: 1-514-745-4069<br/>
                <strong>Contact: Sabastien Paquette</strong><br/>
                Phone: 514-745-0259 ext. 106<br/>
                Email: spaquette@promellis.com<br/>
                <strong>Contact: Vivianne Drapeau</strong><br/>
                Phone: 514-745-0259 ext. 105<br/>
                Email: vdrapeau@promellis.com</p>
            </div>
            <div class="rep column-6">
                <h2>Manitoba &amp; N.W Ontario</h2>
                <h3>Douglas A. Ligertwood Ltd.</h3>
                <a href="http://www.ligertwood.ca/" target="_blank">Visit Website</a>
                <p>832 St. Mary's Rd. Winnipeg, Manitoba R2M 3P4<br/>
                <strong>Contact: Peter Ligertwood</strong><br/>
                Phone: 204-233-6873 | Fax: 1-204-237-0996<br/>
                Cell: 204-228-5487<br/>
                Email: ligertwd@mts.net</p>
            </div>
            <div class="rep column-6">
                <h2>New Brunswick</h2>
                <h3>E.L.P. Marketing Ltd.</h3>
                <a href="http://www.elp.ns.ca/" target="_blank">Visit Website</a>
                <p>266 Edinburgh Dr. Moncton N.B  E1B 4L4<br/>
                <strong>Contact: Tim Geldart</strong><br/>
                Phone: 1-506-862-1515 | Fax: 1-902-450-1222<br/>
                Email: tgeldart@elps.ns.ca</p>
            </div>
            <div class="rep column-6">
                <h2>Saskatchewan</h2>
                <h3>Advance Electrical Agency</h3>
                <a href="http://www.advanceagency.net/" target="_blank">Visit Website</a>
                <p>2717B Wentz Avenue Saskatoon, SK S7K 4B6<br/>
                Phone: 306-653-0313 | Fax: 306-244-4070<br/>
                <strong>Contact: Darren Churchwell</strong><br/>
                Cell: 306-280-7966<br/>
                Email: advanceelectrical@sasktel.net</p>
            </div>
            <div class="rep column-6">
                <h2>Nova Soctia</h2>
                <h3>E.L.P. Marketing Ltd.</h3>
                <a href="http://www.elp.ns.ca/" target="_blank">Visit Website</a>
                <p>32 McQuade lake Crescent Bayers Lake Industrial Park Halifax, N.S. B3S 1B6<br/>
                <strong>Contact: Greg Drysdale C.E.T</strong><br/>
                Phone: 902-441-6449 | Fax: 1-902-450-1222<br/>
                Email: gdrysdale@eps.ns.ca</p>
            </div>
            <div class="rep column-6">
                <h2>Alberta</h2>
                <h3>Brydan Sales Inc.</h3>
                <a href="http://www.brydansales.com/" target="_blank">Visit Website</a>
                <p>2181 – 78 Street Edmonton, AB T6K 2E4<br/>
                <strong>Contact: Dan Eaton</strong><br/>
                Phone : (780) 328-1520 | Fax: (780) 450-0662<br/>
                Cell: (780) 940-2671<br/>
                Email: dan@brydansales.com<br/>
                <strong>Contact: Anthony Eaton</strong><br/>
                Cell: (780) 999-6592<br/>
                Email: anthony@brydansales.com</p>
            </div>
            <div class="rep column-6">
                <h2>Newfoundland</h2>
                <h3>E.L.P. Markerting Ltd.</h3>
                <a href="http://www.elp.ns.ca/" target="_blank">Visit Website</a>
                <p>PO Box 799, 41 Badcock Blvd Bay Roberts, NL A0A 1G0<br/>
                <strong>Contact: Robert Norman</strong><br/>
                Phone: 709-786-3828 | Fax: 1-902-450-1222<br/>
                Email: rob@elp.ns.ca</p>
            </div>
            <div class="rep column-6">
                <h2>P.E.I.</h2>
                <h3>Summit Electric Products Ltd.</h3>
                <p>3333 Devon Drive Windsor ON, N8X 4L5<br/>
                Phone: 1-800-265-4822 | Fax: 519-250-8389<br/>
                Email: sales@summit-electric.com</p>
            </div>
            <div class="rep column-6">
                <h2>British Columbia</h2>
                <h3>Summit Electric Products Ltd.</h3>
                <p>3333 Devon Drive Windsor ON, N8X 4L5<br/>
                Phone: 1-800-265-4822 | Fax: 519-250-8389<br/>
                Email: sales@summit-electric.com</p>
            </div>
            <div class="rep column-6">
                <h2>Saskatoon &amp; Area</h2>
                <h3>Advance Electrical Agency</h3>
                <a href="http://www.advanceagency.net/" target="_blank">Visit Website</a>
                <p>2717B Wentz Avenue Saskatoon, SK S7K 4B6<br/>
                <strong>Contact: Darren Churchwell</strong><br/>
                Phone: 306-653-0313 | Fax: 306-244-4070<br/>
                Cell: 306-280-7966<br/>
                Email: darren@advanceagency.net<br/>
                Regina &amp; Area<br/>
                PO Box 1914<br/>
                Fort Qu'Appelle, SK  S0G 1S0<br/>
                <strong>Contact: Bob Fiesel</strong><br/>
                Phone: 306-552-8686<br/>
                Email: bob@advanceagency.net</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}