<footer class="footer">
    <div class="footer__container container">
        <div class="footer-bar">
            <p>Copyright &copy;Summit Electric Products 2015</p>
        </div>
    </div>
</footer>