<div class="hamburger off-canvas__trigger ">
    <div class="title">
        <p>Menu</p>
    </div>
    <div class="spans">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
