<header class="header">
    <div class="header__container container container--full">
        <div class="welcome-bar">
            <p>Welcome - Summit Electric Products Ltd</p>
        </div>
        <div class="header-bar container container--full">
            <div class="logo column-4">
                <a href="{{ path_for('home') }}">
                    <img src="/assets/img/summitLOGO.png" alt="Summit Electric Products Limited logo">
                </a>
            </div>

            <div class="location column-3">
                <div class="location-title">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <p>Summit Electric Products Limited</p>
                </div>
                <div class="location-details">
                    <p>3333 Devon Dr, Windsor ON. N8X4L5</p>
                </div>
            </div>
            <div class="phone column-1">
                <div class="phone-title">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>Call us.</p>
                </div>
                <div class="phone-details">
                    <p>1.800.265.4822</p>
                </div>
            </div>
        </div>
    </div>
</header>